# ==========================================================
# Python
# ==========================================================

__pycache__/
*.pyc

# ==========================================================
# Virtual Environment
# ==========================================================

.venv/

# ==========================================================
# Environment
# ==========================================================

.env

# ==========================================================
# Logs
# ==========================================================

logs/*.log

# ==========================================================
# Reports
# ==========================================================

reports/*

# ==========================================================
# Screenshots
# ==========================================================

screenshots/*

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# OS
# ==========================================================

Thumbs.db
.DS_Store